.team-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  height: 100%;
  text-align: center;
}
.team-box img {
  width: 237.24px;
  height: 230px;
  object-fit: contain;
}
.team-box h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: white;
  text-transform: uppercase;
}
.team-box h4 {
  color: var(--light-green);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.team-box p {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: white;
}
.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: auto;
}
.team-social a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
@media screen and (max-width: 650px) {
  .team-box {
    gap: 15px;
  }
  .team-box h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .team-box h4 {
    font-size: 14px;
    line-height: 17px;
  }
  .team-box p {
    font-size: 12px;
    line-height: 18px;
  }
}
